extend _layout
block content
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment
      .ui.text.container
        h1.ui.inverted.header GitHub API FTW!
        h2 Play with this demo server to get started
        //- Depending on authentication status server-side, we switch button lists
        if authenticated
          a.ui.primary.large.button(href=reviewPermissionsURL target="_new")
            i.left.icon.checkmark.box
            |  Review your permissions
          a.ui.large.button(href='/oauth/check_token')
            i.left.icon.refresh
            |  Verify your token
          a.ui.large.button(href='/webhook/setup')
            i.left.icon.settings
            | #{hookInstalled ? 'Update' : 'Set up'} the hook
        else
          a.ui.huge.primary.button(href="/oauth/authorize")
            i.left.icon.github.square
            |  Authorize this app on GitHub
    .ui.vertical.stripe.quote.segment
      .ui.equal.width.stackable.internally.celled.grid
        .center.aligned.row
          .column
            h3 “This video course is awesome!”
            p Our viewers love this thing.
          .column
            h3 “Gotta love this API, for sure.”
            p <strong>John Smith</strong>, random persona
